<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>abc code: test</title>
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"
            integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="
            crossorigin="anonymous"></script>
    <style>
        li {
            list-style: none;
            padding: 5px 0;
        }
        textarea {
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>Test Questions</h1>
    <form action="/complete" method="post">
    <ul id="navigation">

    {% for item in questions %}
        <li>{{ item.question }}</li>
        <li>
            <textarea class="answer" type="text" name="{{ 'answer_' + item.id }}" rows="5"></textarea>
        </li>
    {% endfor %}
        <li>
            <input type="submit" id="submit" value="submit" />
        </li>
    </ul>
    </form>
</body>
</html>