<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>abc code: complete</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>

<!--<h2>Criteria:</h2>-->

    <!--<table id="criteria_list" class="pure-table pure-table-striped">-->
        <!--<tr>-->
           <!--<th>Criteria ID</th>-->
           <!--<th>Explanation</th>-->
        <!--</tr>-->
    <!--{% for item in criteria %}-->
        <!--<tr>-->
            <!--<td>{{ item.id }}</td>-->
            <!--<td>{{ item.explanation }}</td>-->
        <!--</tr>-->
    <!--{% endfor %}-->

    <!--</table>-->



<h2>Scores:</h2>

    <table id="scores_list" class="pure-table pure-table-striped">
        <tr>
           <th>Score ID</th>
           <th>Test ID</th>
           <th>Question ID</th>
           <th>Answered</th>
           <th>Score</th>
           <th>Criteria ID</th>
        </tr>
    {% for item in scores %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.test_id }}</td>
            <td>{{ item.question_id }}</td>
            <td>{{ item.answered }}</td>
            <td>{{ item.score }}</td>
            <td>{{ item.criteria_id }}</td>
        </tr>
    {% endfor %}

    </table>

</body>
</html>